<h4>Product Form</h4>
<div class="card bg-light">
  <div class="card-body">
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" placeholder="Enter name" [ngModel]="product.name"
          required minlength="3" #name="ngModel" />
        <div class="alert alert-warning mt-1" *ngIf="name.touched && !name.valid">
          <div *ngIf="name.hasError('required')">Name is required.</div>
          <div *ngIf="name.hasError('minlength')">Name should contain at least 3 characters.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" placeholder="Enter description" id="description" name="description"
          [ngModel]="product.description" required #description="ngModel"></textarea>
        <div class="alert alert-warning mt-1" *ngIf="description.touched && !description.valid">
          Description is required.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" type="text" id="price" name="price" placeholder="Enter price"
          [ngModel]="product.price" required #price="ngModel" />
        <div class="alert alert-warning mt-1" *ngIf="price.touched && !price.valid">
          Price is required.
        </div>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" id="isAvailable" name="isAvailable" class="form-check-input" value="true"
          [ngModel]="product.isAvailable" />
        <label for="isAvailable" class="form-check-label">Available?</label>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
    </form>
  </div>
</div>

<div class="alert alert-primary mt-3" *ngIf="showMessage">
  New product saved successfully.
</div>