<div class="row">

  <div class="col-4">
    <app-product-form (productSaved)="onProductSaved($event)"></app-product-form>
  </div>

  <div class="col-8">
    <h4>Products</h4>
    <app-product-detail [product]="p" (deleteProduct)="onDeleteProduct($event)" *ngFor="let p of productList">
    </app-product-detail>
  </div>

</div>

<!--

  Input Property
  <input type="text" [value]="productName" />             -- built-in element and built-in property
  <app-product-detail [product]="p"></app-product-detail> -- custom element and custom property

  <button (click)="onSubmit()">Submit</button>            -- built-in element and built-in event
  <app-product-form (productSaved)="onProductSaved($event)"></app-product-form> -- custom element and custom event

-->